# NPBackup upgrade server configuration file

http_server:
  listen: 0.0.0.0
  port: 8080
  users:
    - username: upgrade_client_user
      password: super_secret_password
      permissions:
        audience:
        - private
        - public


upgrades:
  data_root: /var/npbackup_upgrade_server/dist
  # We'll store a CSV containing backup clients that upgrade here
  statistics_file: /var/npbackup_upgrade_server/stats.csv

  # See github wiki for more explanation of the contents of data_root dir

